<div class="card text-center mt-5">
  <div class="card-header">
    <h1 class="text-center">Welcome To Zendesk Ticker Viewer</h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">Fabulously easy to use, the Zendesk Ticket Viewer is the most exciting web-base application and simple UI to view your tickets!</h5>
    <a href="/tickets" class="btn btn-warning">Display Tickets</a>
  </div>
</div>
