<h1 class="text-center">Welcome To Zendesk Ticker Viewer</h1>

<h5 class="text-center">Fabulously easy to use, the Zendesk Ticket Viewer is the most exciting Web base application and simple UI to view your tickets!</h5>

<h5 class="text-center"><a href="/tickets">Display Tickets</a></h5>